{% extends 'journal/base.html' %}


{% block nav %}
    <a href="{% url 'journal:index' %}">Back</a>
{% endblock %}

{% block style %}
<style>
  .transaction-tile {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  }
</style>
{% endblock %}

{% block content %}
  <h1>{{ category.name }} Transactions</h1>
  <p>Budget: {{ category.budget }}</p>
  <a href="{% url 'journal:category_update' category.name %}">Edit</a>
  <a href="{% url 'journal:category_delete' category.name %}">Delete</a>
  

  <h3>Transactions:</h3>
  <ul>
    {% for transaction in transactions %}
    <li class='transaction-tile'>
        <a href="{% url 'journal:transaction_update' transaction.id %}">
          Date: {{ transaction.date }} 
          Amount: {{ transaction.amount }}
          Description: {{ transaction.tags }}
        </a>
      </li>
      {% empty %}
      <li>No transactions found.</li>
    {% endfor %}
  </ul>
{% endblock %}
