{% extends 'journal/base.html' %}

{% block style %}
<style>
    .task-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .button {
        margin: 10px;
    }

</style>
{% endblock %}

{% block content %}
    <div class='task-list'>
        <div class='button'>
            <a href="{% url 'journal:transaction_create' %}">Add Transaction</a>
        </div>
        <div class='button'>
            <a href="{% url 'journal:category_create' %}">Add Category</a>
        </div>
        <div class='button'>
            <a href="{% url 'journal:letter_create' %}">Add Letter</a>
        </div>
        <div class='button'>
            <a href="{% url 'journal:budget_show' 'W' %}">Progress</a>
        </div>
        <div class='button'>
            <a href="{% url 'journal:budget_show' 'M' %}">Monthly Targets</a>
        </div>
        <div class='button'>
            <a href="{% url 'journal:budget_show' 'Y' %}">Yearly Targets</a>
        </div>
    </div>
{% endblock %}


